*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #B1C7DB;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100% - 350px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
